body{
   
    height: 100vh;
    margin: 0;
    
}
.header{
    display:flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 15px 80px;
    
}
.header div{
    font-size: 24px;
    color: #f9faf8;
}
.header ul {
    display: flex;
    flex-direction: row ;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    font-size: 18px;
    color: #e5e7eb;
}
.section1{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    flex: 0 0 auto;
}
.section1 h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 5px;
}
.section1 p{
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
}
.section1 button{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 700;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 15px;
}
.left{
    width: 450px;
}
.right img{
    width:300px
}
.section1 img{
    border-radius: 5px;
}
.header2 {
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container div {
    width: 250px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h3{
    height:50px
}
img{
    width: 150px;
}

.section3{
    background-color: #e5e7eb;
    padding: 40px 80px
}
.section3 p{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.credit{
    text-align: right;
    font-weight: 700;
}
.container4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #3882f6;
    margin: 48px;
    border-radius: 5px;
    
}

.text{
    display:flex ;
    flex-direction: column;
    margin: 0;
    padding: 40px;

}
.button{
    display: flex;
    align-items: center;
    margin-right: 80px;
    
}
button{
    background-color: #3882f6;
    color: #e5e7eb;
    border: solid 2px #e5e7eb;
    padding: 10px 20px;
    border-radius: 10px;
}
.section4 h4,
.section4 p{
    margin: 0;
    padding: 0;
    color:#e5e7eb ;
}
h4{
    font-size: 20px;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}